asgiref==3.8.1 ; python_version >= "3.12"
awslambdaric==3.0.1 ; python_version >= "3.12"
config==0.0.1 ; python_version >= "3.12"
django-cte==1.3.3 ; python_version >= "3.12"
django==5.0 ; python_version >= "3.12"
psycopg2-binary==2.9.10 ; python_version >= "3.12"
simplejson==3.20.1 ; python_version >= "3.12"
snapshot-restore-py==1.0.0 ; python_version >= "3.12"
sqlparse==0.5.3 ; python_version >= "3.12"
tzdata==2025.1 ; python_version >= "3.12" and sys_platform == "win32"
vega==0.0.1 ; python_version >= "3.12"
